
@{
    ViewBag.Title = "AlreadyExist";
    Layout = "~/Views/Shared/_LayoutCompany.cshtml";
}

<h2>AlreadyExist</h2>
<hr />

<h5>Unfortunately This Already Exists!!!!Please Try Againnnn!!!!!!</h5>

<div>
    @Html.ActionLink("Back to Form", "AddMedicine")
</div>

