
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_LayoutCompany.cshtml";
}

<h2>Error</h2>

<h5>An unknown Error Occured!!Please Check Again</h5>

@Html.ActionLink("Back to from", "CompanyUpdation")