
@{
    ViewBag.Title = "AlreadyExist";
    Layout = "~/Views/Shared/_LayoutHomeActions.cshtml";
}

<h2>AlreadyExist</h2>

<h4>An Entity by the entered details already exist. Please try Again</h4>

<div>
    @Html.ActionLink("Back to Home", "Index")
</div>

