
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_LayoutHomeActions.cshtml";
}

<h2>Error</h2>

<h4>An Unknown Error Occured!!. Please try Again</h4>

<div>
    @Html.ActionLink("Back to Home", "Index")
</div>